.inside_card_container {
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 450px;
  min-width: 360px;
  max-width: 390px;
  border-radius: 20px;
  border: 1.5px dashed #F2FFFF;
}

.inside_card_img {
  object-fit: cover;
  height: 180px;
  width: 100%;
  border-radius: 20px 20px 0px 0px;
}